<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../public/css/main.css"> -->
    <title>Expense</title>
</head>
<body>
    <div class="expense-box">
        <h2>Expense</h2>
        <form onsubmit="addNewExpense(event)">
            <div class="textbox">
                <label for="expense">Expense</label>
                <input type="number" id="expense">
            </div>
            <div class="textbox">
                <label for="description">Description</label>
                <input type="textbox" id="description">
            </div>
            <div class="textbox">
                <label for="category">Select Category</label>
                <select id="category">
                    <option id="food">Food</option>
                    <option id="petrol">Petrol</option>
                    <option id="electricity">electricity</option>
                    <option id="Movie">Movie</option>
                </select>
            </div>
            <ul id="expenses" class="list-group mt-2">

            </ul>
            <button class="btn">Add Expense</button>
            <!-- type="submit" -->
           
            
           
        </form>
        <div class="expense-detail">
        
            <ul class="expenseList"></ul>
           
        </div>
            <button id="rzp-button">Buy Premium</button>
        </div>
        <div id="message"></div>

        <div class="leadboard-detail">
            <ul class="leadboardList"></ul>
        </div>
    <div class="pagination" id="pagination">

    </div>     
   
    <!-- <div class="downloadedcsv" class="float-right">
        <button >Downloaded Csvs </button>
    </div> -->
    <div id="table"><p></p></div>
   
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"></script>
<script>
    window.addEventListener("DOMContentLoaded",async ()=>{
        const page = 1
        const token = localStorage.getItem('token')
        const decodedtoken = parseJwt(token)
        const ispremium = decodedtoken.ispremium
        if(ispremium){
            showIsPremiumUser()
        }
    await axios.get(`http://18.188.58.181:3000/user/get-expense/?page=${page}`,{headers:{"Authorization":token}})
    .then((respone)=> {
    for(var i=0; i<respone.data.expenses.length; i++){
        showExpense(respone.data.expenses[i]);
 
    }
    showPagination(respone.data)
    }).catch(err => console.log(err));

})

function showPagination(obj){
    const pagination= document.getElementById('pagination');

    pagination.innerHTML = ''
    const expensebox = document.querySelector('.expense-box')
    expensebox.append(pagination)
    
    if(obj.hasPreviousPage){
        let btn2 = document.createElement('button')
        btn2.setAttribute('class','page-item page-link m-1')
        btn2.innerHTML = `<h3>${obj.previousPage}</h3>`
        btn2.addEventListener('click',() => getProducts(obj.previousPage))
        pagination.appendChild(btn2)
   } 

  let btn1 = document.createElement('button')
  btn1.setAttribute('class','page-item page-link m-1')
  btn1.innerHTML = `<h3>${obj.currentPage}</h3>`
  btn1.addEventListener('click',() => getProducts(obj.currentPage))
  pagination.appendChild(btn1)
  
   if(obj.hasNextPage){
        let btn3 = document.createElement('button')
        btn3.setAttribute('class','page-item page-link m-1')
        btn3.innerHTML = `<h3>${obj.nextPage}</h3>`
        btn3.addEventListener('click',() => getProducts(obj.nextPage))
        pagination.appendChild(btn3)
   }
   
}

async function getProducts(page){
    
    try{
        token = localStorage.getItem('token')
        const expresponse  = await axios.get(`http://18.188.58.181:3000/user/get-expense/?page=${page}`,{headers:{"Authorization":token}})
        showPagination(expresponse.data) 
        expresponse.data.expenses.map((item)=> showExpense(item))
    }catch(err) {console.log(err)};

}

function showIsPremiumUser(){
    const token = localStorage.getItem('token')
    document.getElementById('rzp-button').style.visibility = "hidden"
    const message = document.getElementById('message')
    const btn = document.createElement('button');
    btn.className = 'float-right';
    btn.innerText = 'Show Leadboard';
    message.innerHTML = "you are a preimum user"
    message.appendChild(btn)

    // <button onclick="download()" id="downloadexpense">Download File</button>

    const dwnBtn = document.createElement('button')
    dwnBtn.className = 'float-right'
    dwnBtn.innerText = 'Download'
    message.appendChild(dwnBtn)


    const urldwnBtn = document.createElement('button')
    urldwnBtn.innerText = 'Downloaded Csv'
    message.appendChild(urldwnBtn)

    dwnBtn.addEventListener('click',()=>{
        console.log(token)
        axios.get('http://18.188.58.181:3000/user/download', { headers: {"Authorization" : token} })
        .then((response) => {
            if(response.status === 200){
                var a = document.createElement("a");
                a.href = response.data.fileUrl;
                a.download = 'myexpense.csv';
                a.click();
            } else {
                throw new Error(response.data.message)
            }

        })
        .catch((err) => {
            showError(err)
        });
    })

    btn.addEventListener('click',showLeadboard)
    async function showLeadboard(e){
      const respone = await axios.get('http://18.188.58.181:3000/purchase/showLeadBoard')
        for(var i=0; i<respone.data.data.length; i++){
            showLeadBoardData(respone.data.data[i])
        }
    }

    urldwnBtn.addEventListener('click',async()=>{
        const respone = await axios.get('http://18.188.58.181:3000/alllinks',{ headers: {"Authorization" : token} })
            buildTable( respone.data.result);
        
    })

}

function buildTable( data) {
    var table = document.createElement('table');
table.id = 'myTable';

var headers = ['ID', 'URL'];
var headerRow = table.insertRow();
for (var i = 0; i < headers.length; i++) {
  var headerCell = document.createElement('th');
  headerCell.textContent = headers[i];
  headerRow.appendChild(headerCell);
}


for (var j = 0; j < data.length; j++) {
  var rowData = data[j];
  var dataRow = table.insertRow();

  var idCell = dataRow.insertCell();
  idCell.textContent = rowData.id;

  var urlCell = dataRow.insertCell();
  var link = document.createElement('a');
  link.href = rowData.url;
  link.textContent = 'Download File ' + rowData.id;
  urlCell.appendChild(link);
}

var targetElement = document.getElementById('table');
targetElement.appendChild(table);
}




function showLeadBoardData(obj){

    const parentElement = document.querySelector('.leadboardList');
    const objId = `obj-${obj.id}`;
    parentElement.innerHTML += `
    <li id=${objId}>
       Name - ${obj.name} - Toatal Expense - ${obj.total_amount}
    </li>`

}

function parseJwt (token) {
    var base64Url = token.split('.')[1];
    var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(jsonPayload);
}

document.getElementById('rzp-button').onclick = async function(e){
    const token = localStorage.getItem('token')
    const response = await axios.get('http://18.188.58.181:3000/purchase/premiummembership',{headers:{"Authorization":token}})
    var options={
        "key":response.data.key_id,
        "order_id":response.data.order.id,
        "handler" : async function (response){
          const res =  await axios.post('http://18.188.58.181:3000/purchase/updatetransactionstatus',{
                order_id : options.order_id,
                payment_id : response.razorpay_payment_id,
            },{headers:{"Authorization":token}})
            alert('you are a premium member now')
           
            showIsPremiumUser()
            localStorage.setItem('token',res.data.token)

        }

    }
    // console.log(options.order_id)
    const rzp1 = new Razorpay(options)
    rzp1.open()
    e.preventDefault()

    rzp1.on('payment.failed',function(respone){
        console.log(respone)
        alert('something wrong')
    })
}

function deleteExpenses(e,id){
    const token = localStorage.getItem('token')
    axios.delete(`http://18.188.58.181:3000/delete-expense/${id}`,{headers:{"Authorization":token}})
        .then((res)=> {
            removeExpenseFromUI(id);
        })
        .catch(err => console.log(err));
    }

function removeExpenseFromUI(id){ 
    const expenseId = `expense-${id}`;
    document.getElementById(expenseId).remove()
    }

function showExpense(expense){

    const parentElement = document.querySelector('.expenseList');
    const expenseElemId = `expense-${expense.id}`;
    parentElement.innerHTML += `
    <li id=${expenseElemId}>
        ${expense.amount} - ${expense.category} - ${expense.description}
        <button onclick='deleteExpenses(event, ${expense.id})'>
            Delete Expense
        </button>
    </li>`
    
   
}
function addNewExpense(e){

    e.preventDefault(e)
    const expenseDetail = {
        amount: e.target.expense.value,
        description: e.target.description.value,
        category: e.target.category.value
    }
    const token = localStorage.getItem('token')

    axios.post('http://18.188.58.181:3000/user/addExpense', expenseDetail, {headers:{"Authorization":token}})
    .then((result)=>{
        // console.log(result.data.data.amount)
        showExpense(result.data.data)
    }).catch(err => console.log(err))

    
       
    }
</script>